@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"],input[type="password"],
input[type="email"],input[type="number"],
input[type="tel"],
textarea{
    @apply w-full border my-1 py-2 px-3 rounded-2xl;
}
textarea{
    height: 140px;
}
button{
    @apply bg-gray-300;
}
button.primary{
    background-color: #F5385D;
    @apply bg-primary p-2 w-full text-white rounded-2xl;
}

:root{
    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: #3498db;
    --toastify-color-success: #07bc0c;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #F5385D;
    --toastify-color-transparent: rgba(255, 255, 255, 0.7);

    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);
}